body {
  color: #eee;
  margin: 0;
}
.flex {
  display: flex;
}
#navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  height: 40px;
  width: 1503px;
  background-color: #202020;
}
#menu {
  align-items: center;
  gap: 8px;
}
h3 {
  font-family: cursive;
}
.menu_icon {
  width: 38px;
  height: 35px;
}
#searchbar {
  align-items: center;
}
.search {
  background-color: #363636;
  color: #c4c4c4;
  border: #363636;
  padding-left: 6px;
  height: 35px;
  width: 350px;
}
.search_button {
  background-color: #313131;
  height: 35px;
  width: 55px;
  border: #313131;
  border-radius: 6%;
}
.search_icon {
  width: 22px;
  height: 22px;
}
.defaultprofile {
  margin-right: 4px;
  height: 43px;
  width: 45px;
}
#video {
  justify-content: space-between;
  height: 42em;
  background-color: #2b2a2a;
}
#videosection {
  margin-left: 130px;
  flex-direction: column;
  align-items: flex-start;
  width: 70em;
  padding: 0.75em;
  background-color: #2b2a2a;
}
#videotitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#title_bar {
  padding-bottom: 6px;
  border-bottom: 2px solid #444444;
  width: 900px;
  justify-content: space-between;
}
#share_box {
  gap: 2px;
  width: 240px;
  justify-content: flex-end;
}
.box {
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 20px;
  height: 20px;
  width: 80px;
}
#sidebar {
  width: 30em;
  padding: 0.75em;
  background-color: #931cca;
}
